/* Colors */
* {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
  font-size: 16px; }

body {
  background-color: black;
  overflow-x: hidden;
  z-index: -2;
  position: relative; }
  body main {
    background-color: #ffffff;
    position: relative;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: -2;
    overflow-x: hidden; }
    @media only screen and (min-width: 1440px) {
      body main {
        margin: auto;
        width: 1440px;
        flex-direction: row;
        height: 98vh; } }
    body main::before {
      width: 50vw;
      height: 85vh;
      content: "";
      background-color: #9241c8;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 0 0 500px 0;
      -webkit-border-radius: 0 0 500px 0;
      -moz-border-radius: 0 0 500px 0;
      -ms-border-radius: 0 0 500px 0;
      -o-border-radius: 0 0 500px 0;
      z-index: -1; }
      @media only screen and (min-width: 1440px) {
        body main::before {
          width: 576px;
          height: 755px;
          left: -10%;
          bottom: -8%;
          border-radius: 0 0 500px 500px;
          -webkit-border-radius: 0 0 500px 500px;
          -moz-border-radius: 0 0 500px 500px;
          -ms-border-radius: 0 0 500px 500px;
          -o-border-radius: 0 0 500px 500px; } }
    body main::after {
      width: 50vw;
      height: 85vh;
      content: "";
      background-color: #f5f3f7;
      position: absolute;
      bottom: 0;
      right: 0;
      border-radius: 500px 0 0 0;
      -webkit-border-radius: 500px 0 0 0;
      -moz-border-radius: 500px 0 0 0;
      -ms-border-radius: 500px 0 0 0;
      -o-border-radius: 500px 0 0 0;
      z-index: -1; }
      @media only screen and (min-width: 1440px) {
        body main::after {
          right: -15%;
          width: 578px;
          height: calc(100% - 150px);
          border-radius: 500px 500px 0 0;
          -webkit-border-radius: 500px 500px 0 0;
          -moz-border-radius: 500px 500px 0 0;
          -ms-border-radius: 500px 500px 0 0;
          -o-border-radius: 500px 500px 0 0; } }
    body main .phone-container {
      width: 100%;
      display: flex;
      justify-content: center; }
      @media only screen and (min-width: 1440px) {
        body main .phone-container {
          width: 50%;
          justify-content: flex-end; } }
      body main .phone-container .phone {
        width: 264px;
        background-color: #ffffff;
        border: 10px solid #ffffff;
        border-radius: 35px;
        -webkit-border-radius: 35px;
        -moz-border-radius: 35px;
        -ms-border-radius: 35px;
        -o-border-radius: 35px;
        margin: 4rem auto;
        -webkit-box-shadow: 0px 45px 82px -24px #adadad;
        -moz-box-shadow: 0px 45px 82px -24px #adadad;
        box-shadow: 0px 45px 82px -24px #adadad; }
        @media only screen and (min-width: 1440px) {
          body main .phone-container .phone {
            margin: 4rem 5rem 4rem 2rem; } }
        body main .phone-container .phone__contact-info {
          background: linear-gradient(90deg, #8838ff 0%, #e942ff 100%);
          border-radius: 25px 25px 6px 6px;
          -webkit-border-radius: 25px 25px 6px 6px;
          -moz-border-radius: 25px 25px 6px 6px;
          -ms-border-radius: 25px 25px 6px 6px;
          -o-border-radius: 25px 25px 6px 6px;
          position: relative;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          height: 75px;
          -webkit-box-shadow: 0px 10px 11px -6px #bdbdbd;
          -moz-box-shadow: 0px 10px 11px -6px #bdbdbd;
          box-shadow: 0px 10px 11px -6px #bdbdbd;
          margin-bottom: 0.25rem; }
          body main .phone-container .phone__contact-info:before {
            display: flex;
            content: "";
            background-color: white;
            width: 132px;
            height: 20px;
            top: 0;
            left: 25%;
            position: absolute;
            border-radius: 5px;
            -webkit-border-radius: 0 0 15px 15px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px; }
          body main .phone-container .phone__contact-info .avatar {
            display: flex;
            justify-content: start;
            align-items: center;
            width: 90%;
            margin-top: 1.5rem; }
            body main .phone-container .phone__contact-info .avatar i {
              color: #f5f3f7;
              margin: auto 0.5rem; }
            body main .phone-container .phone__contact-info .avatar img {
              width: 10%;
              border-radius: 50%;
              border: 2px solid #f5f3f7;
              margin: auto 0.5rem auto 0; }
            body main .phone-container .phone__contact-info .avatar .name h4 {
              color: #f5f3f7;
              font-size: 0.8rem; }
            body main .phone-container .phone__contact-info .avatar .name p {
              color: #d89eff;
              font-size: 0.6rem; }
          body main .phone-container .phone__contact-info i {
            color: #f5f3f7;
            font-size: 0.8rem;
            margin-right: 1rem;
            margin-top: 1.5rem; }
        body main .phone-container .phone__conversation {
          padding: 0.5rem;
          padding-top: 1rem;
          margin-top: -1rem;
          border-radius: 0 0 25px 25px;
          background-color: #f5f3f7;
          display: flex;
          flex-direction: column; }
          body main .phone-container .phone__conversation .dialogue {
            max-width: 54%;
            width: auto;
            padding: 0.5rem;
            margin: 0.75rem 0 0 0; }
            body main .phone-container .phone__conversation .dialogue p {
              font-size: 0.6rem;
              font-weight: 500;
              color: #9241c8; }
            body main .phone-container .phone__conversation .dialogue.contact {
              background: #c6cacd3b;
              /*REVISAR*/
              border-radius: 9px 9px 9px 4px;
              -webkit-border-radius: 9px 9px 9px 4px;
              -moz-border-radius: 9px 9px 9px 4px;
              -ms-border-radius: 9px 9px 9px 4px;
              -o-border-radius: 9px 9px 9px 4px; }
              body main .phone-container .phone__conversation .dialogue.contact.option {
                max-width: 68%;
                background: linear-gradient(90deg, #e942ff 0%, #8838ff 100%);
                display: flex;
                align-items: center;
                justify-content: space-between; }
                body main .phone-container .phone__conversation .dialogue.contact.option p {
                  color: #ffffffad;
                  display: flex;
                  align-items: center; }
                  body main .phone-container .phone__conversation .dialogue.contact.option p::before {
                    content: "";
                    width: 12px;
                    height: 12px;
                    background-color: transparent;
                    border-radius: 50%;
                    border: 2px solid #ffffff38;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    -o-border-radius: 50%;
                    margin-right: 0.5rem; }
                body main .phone-container .phone__conversation .dialogue.contact.option span {
                  margin-right: 0.5rem;
                  color: #ffffff;
                  font-weight: 500; }
            body main .phone-container .phone__conversation .dialogue.response {
              background-color: #ffffff;
              align-self: flex-end;
              border-radius: 9px 9px 4px 9px;
              -webkit-border-radius: 9px 9px 4px 9px;
              -moz-border-radius: 9px 9px 4px 9px;
              -ms-border-radius: 9px 9px 4px 9px;
              -o-border-radius: 9px 9px 4px 9px;
              -webkit-box-shadow: 0px 10px 11px -6px #bdbdbd;
              -moz-box-shadow: 0px 10px 11px -6px #bdbdbd;
              box-shadow: 0px 10px 11px -6px #bdbdbd; }
              body main .phone-container .phone__conversation .dialogue.response:last-child {
                margin-bottom: 1rem; }
              body main .phone-container .phone__conversation .dialogue.response.img {
                background-color: transparent;
                max-width: 65%;
                padding-right: 0;
                padding-bottom: 0;
                box-shadow: none; }
                body main .phone-container .phone__conversation .dialogue.response.img img {
                  width: 46px;
                  margin-left: 0.3rem;
                  border-radius: 10px; }
            body main .phone-container .phone__conversation .dialogue.input {
              background: white;
              width: 100%;
              max-width: 88%;
              border-radius: 50px;
              padding: 0.9rem;
              margin-top: 1.25rem;
              margin-bottom: 0.25rem;
              display: flex;
              align-items: center;
              position: relative; }
              body main .phone-container .phone__conversation .dialogue.input p {
                color: #c6cacd;
                padding-left: 0.5rem; }
              body main .phone-container .phone__conversation .dialogue.input i {
                width: 30px;
                height: 30px;
                color: white;
                background-color: #3e2753;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
                position: absolute;
                right: 0.3rem;
                display: flex;
                align-items: center;
                justify-content: center; }
    body main .title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 6rem; }
      @media only screen and (min-width: 1440px) {
        body main .title {
          width: 50%;
          align-items: flex-start;
          margin-bottom: 0; } }
      body main .title h2 {
        font-size: 2.5rem;
        font-weight: 500;
        text-align: center;
        color: #3e2753;
        margin-bottom: 2rem; }
        @media only screen and (min-width: 1440px) {
          body main .title h2 {
            font-size: 2.5rem;
            margin-bottom: 1.5rem; } }
      body main .title p {
        font-size: 1.25rem;
        font-weight: 400;
        text-align: center;
        padding: 0 1.5rem;
        line-height: 1.5rem;
        color: #a39daa; }
        @media only screen and (min-width: 1440px) {
          body main .title p {
            text-align: left;
            padding: 0 14rem 0 0;
            line-height: 2rem; } }
  body .attribution {
    background-color: transparent;
    font-size: 0.6rem;
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #c6cacd; }
    body .attribution a {
      color: #c6cacd;
      font-size: 0.6rem;
      text-decoration: none;
      margin-left: 0.1rem; }
    body .attribution .barchu {
      font-size: 0.6rem;
      color: white;
      background-color: blueviolet;
      padding: 0.1rem 0.25rem;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px; }

/*# sourceMappingURL=style.css.map */
