/* Colors */
$primary-paleViolet: #d89eff;
$primary-moderateViolet: #9241c8;
$primary-DesaturedDarkViolet: #6e5d7e;
$primary-grayishBlue: #c6cacd;
$primary-veryDarkDesaturedViolet: #3e2753;
$primary-darkGrayishViolet: #a39daa;

$gradient-lightMagenta: #e942ff;
$gradient-lightViolet: #8838ff;

$secondary-white: #ffffff;
$secondary-lightGrayishViolet: #f5f3f7;
$secondary-veryDarkDesaturedViolet: #3e2753;
$secondary-veryLightMagenta: #e570ff;

@mixin fontRubik{
    font-family: 'Rubik', sans-serif;
}

@mixin desktop {
    @media only screen and (min-width: 1440px) {
        @content;
    }
}

@mixin gradient{
    background: linear-gradient(90deg, rgba(136,56,255,1) 0%, rgba(233,66,255,1) 100%);
}

@mixin gradientReverse{
    background: linear-gradient(90deg, rgba(233,66,255,1) 0%, rgba(136,56,255,1) 100%);
}
@mixin shadowDialogue{
    -webkit-box-shadow: 0px 6px 25px -10px rgba(128,128,128,1);
    -moz-box-shadow: 0px 6px 25px -10px rgba(128,128,128,1);
    box-shadow: 0px 6px 25px -10px rgba(128,128,128,1);
}

*{
    margin: 0;
    padding: 0;
    @include fontRubik;
    font-size: 16px;
    img{
        width: 10px;
    }
}

main{
    position: relative;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &::before{
        width: 50vw;
        height: 85vh;
        content: "";
        background-color: $primary-moderateViolet;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 0 0 500px 0;
        -webkit-border-radius: 0 0 500px 0;
        -moz-border-radius: 0 0 500px 0;
        -ms-border-radius: 0 0 500px 0;
        -o-border-radius: 0 0 500px 0;
        z-index: -500;
    }
    &::after{
        width: 50vw;
        height: 85vh;
        content: "";
        background-color: $secondary-lightGrayishViolet;
        position: absolute;
        bottom: 0;
        right: 0;
        border-radius: 500px 0 0 0;
        -webkit-border-radius: 500px 0 0 0;
        -moz-border-radius: 500px 0 0 0;
        -ms-border-radius: 500px 0 0 0;
        -o-border-radius: 500px 0 0 0;
        z-index: -500;
    }
    .phone{
        width: 264px;
        background-color: $secondary-white;
        border: 10px solid $secondary-white;
        border-radius: 35px;
        -webkit-border-radius: 35px;
        -moz-border-radius: 35px;
        -ms-border-radius: 35px;
        -o-border-radius: 35px;
        margin: 4rem auto;
        -webkit-box-shadow: 0px 45px 82px -24px rgba(173,173,173,1);
        -moz-box-shadow: 0px 45px 82px -24px rgba(173,173,173,1);
        box-shadow: 0px 45px 82px -24px rgba(173,173,173,1);
        &__contact-info{
            @include gradient;
            border-radius: 25px 25px 6px 6px;
            -webkit-border-radius:25px 25px 6px 6px;
            -moz-border-radius:25px 25px 6px 6px;
            -ms-border-radius:25px 25px 6px 6px;
            -o-border-radius:25px 25px 6px 6px;
            position: relative;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            height: 75px;
            @include shadowDialogue;
            margin-bottom: 0.25rem;
            &:before{
                display: flex;
                content: "";
                background-color: white;
                width: 132px;
                height: 20px;
                top: 0;
                left: 25%;
                position: absolute;
                border-radius: 5px;
                -webkit-border-radius: 0 0 15px 15px;
                -moz-border-radius: 5px;
                -ms-border-radius: 5px;
                -o-border-radius: 5px;
            }
            .avatar{
                display: flex;
                justify-content: start;
                align-items: center;
                width: 90%;
                margin-top: 1.5rem;
                i{
                    color: $secondary-lightGrayishViolet;
                    margin: auto 0.5rem;
                }
                img{
                    width: 10%;
                    border-radius: 50%;
                    border: 2px solid $secondary-lightGrayishViolet;
                    margin: auto 0.5rem auto 0;
                }
                .name{
                    h4{
                        color: $secondary-lightGrayishViolet;
                        font-size: 0.8rem;
                    }
                    p{
                        color: $primary-paleViolet;
                        font-size: 0.6rem;
                    }
                }
            }
            i{
                color: $secondary-lightGrayishViolet;
                font-size: 0.8rem;
                margin-right: 1rem;
                margin-top: 1.5rem;
            }
        }
        &__conversation{
            padding: 0.5rem;
            padding-top: 1rem;
            margin-top: -1rem;
            border-radius: 0 0 25px 25px;
            background-color: $secondary-lightGrayishViolet;
            display: flex;
            flex-direction: column;
            .dialogue{
                max-width: 54%;
                width: auto;
                padding: 0.5rem;
                margin: 0.75rem 0 0 0;
                p{
                    font-size: 0.6rem;
                    font-weight: 500;
                    color: $primary-moderateViolet;
                }
                &.contact{
                    background: #c6cacd3b;
                    /*REVISAR*/border-radius: 9px 9px 9px 4px;
                    -webkit-border-radius: 9px 9px 9px 4px;
                    -moz-border-radius: 9px 9px 9px 4px;
                    -ms-border-radius: 9px 9px 9px 4px;
                    -o-border-radius: 9px 9px 9px 4px;
                    &.option{
                        max-width: 68%;
                        @include gradientReverse;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        p{
                            color: #ffffffad;
                            display: flex;
                            align-items: center;
                            &::before{
                                content: "";
                                width: 12px;
                                height: 12px;
                                background-color: transparent;
                                border-radius: 50%;
                                border: 2px solid #ffffff38;
                                -webkit-border-radius: 50%;
                                -moz-border-radius: 50%;
                                -ms-border-radius: 50%;
                                -o-border-radius: 50%;
                                margin-right: 0.5rem;
                            }
                        }
                        span{
                            margin-right: 0.5rem;
                            color: $secondary-white;
                            font-weight: 500;
                        }
                    }
                }
                &.response{
                    background-color: $secondary-white;
                    align-self: flex-end;
                    border-radius: 9px 9px 4px 9px;
                    -webkit-border-radius: 9px 9px 4px 9px;
                    -moz-border-radius: 9px 9px 4px 9px;
                    -ms-border-radius: 9px 9px 4px 9px;
                    -o-border-radius: 9px 9px 4px 9px;
                    @include shadowDialogue;
                    &:last-child{
                        margin-bottom: 1rem;
                    }
                    &.img{
                        background-color: transparent;
                        max-width: 65%;
                        padding-right: 0;
                        padding-bottom: 0;
                        box-shadow: none;
                        img{
                            width: 46px;
                            margin-left: 0.3rem;
                            border-radius: 10px;
                        }
                    }
                }
                &.input{
                    background: white;
                    width: 100%;
                    max-width: 88%;
                    border-radius: 50px;
                    padding: 0.9rem;
                    margin-top: 1.25rem;
                    margin-bottom: 0.25rem;
                    display: flex;
                    align-items: center;
                    position: relative;
                    p{
                        color: $primary-grayishBlue;
                        padding-left: 0.5rem;
                    }
                    i{
                        width: 30px;
                        height: 30px;
                        color: white;
                        background-color: $primary-veryDarkDesaturedViolet;
                        border-radius: 50%;
                        -webkit-border-radius: 50%;
                        -moz-border-radius: 50%;
                        -ms-border-radius: 50%;
                        -o-border-radius: 50%;
                        position: absolute;
                        right: 0.3rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
        }
    }
    .title{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 6rem;
        h2{
            font-size: 3rem;
            font-weight: 500;
            text-align: center;
            color: $primary-veryDarkDesaturedViolet;
            margin-bottom: 2rem;
        }
        p{
            font-size: 1.25rem;
            font-weight: 400;
            text-align: center;
            padding: 0 1.75rem;
            line-height: 2rem;
            color: $primary-darkGrayishViolet;
        }
    }
}



.attribution {
    font-size: 0.6rem;
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $primary-grayishBlue;
    a {
        color: $primary-grayishBlue;
        font-size: 0.6rem;
        text-decoration: none;
        margin-left: 0.1rem;
    }
    .barchu{
        font-size: 0.6rem;
        color: white;
        background-color: blueviolet;
        padding: 0.1rem 0.25rem;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }
}